@page
@model ShopzyWeb.Pages.Cart.SuccessModel

<h2 class="text-success">Order Placed Successfully 🎉</h2>

<p>Thank you for shopping with <strong>Shopzy</strong>.</p>

<a asp-page="/Index" class="btn btn-primary">
    Continue Shopping
</a>
